# {{reportTitle}}

{{#tags}}
## {{name}}
    {{#commits}}
* {{#extensions.pullRequest}}[PR #{{id}}]({{link}}) {{^extensions.pullRequest}}{{> jira}} [{{shortHash}}]({{commitLink}}){{/extensions.pullRequest}}
    {{/commits}}
{{/tags}}
